/* Reset básico */
* {
    box-sizing: border-box;
}

/* Estilos generales del header */
.header-container {
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Contenedor del logo */
.logo-container figure {
    align-items: center;
}

/* Tamaño del logo */
.logo-container img {
    height: 60px; /* Ajusta el tamaño según necesidad */
}

/* Estilos del título principal */
.title-container h1 {
    font-size: 1.8rem;
}

/* Estilos del subtítulo */
.title-container h2 {
    font-size: 1.2rem;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
    }

    .logo-container img {
        height: 50px;
    }

    .title-container h1 {
        font-size: 1.6rem;
    }

    .title-container h2 {
        font-size: 1rem;
    }
}