/* Estilos generales para la barra de navegación */
.nav-container {
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilos para el logo */
.nav-logo span {
    font-size: 1.5rem;
}

/* Contenedor de los enlaces */
.nav-links {
    gap: 20px;
}

/* Estilos de los enlaces */
.nav-links a {
    font-size: 1rem;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .nav-container {
        flex-direction: column;
        align-items: center;
    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }
}