.add-tesis-container {
    max-width: 500px;
    background: #f9f9f9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.add-tesis-container h2 {
    margin-bottom: 20px;
}

.add-tesis-container label {
    margin-top: 10px;
}

.add-tesis-container input,
.add-tesis-container textarea {
    margin-top: 5px;
}

.add-tesis-container button {
    margin-top: 15px;
    background: #007bff;
}

.add-tesis-container button:hover {
    background: #0056b3;
}