.add-tesista-container {
    max-width: 500px;
    background: #f9f9f9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.add-tesista-container h2 {
    margin-bottom: 20px;
}

.add-tesista-container label {
    margin-top: 10px;
}

.add-tesista-container input,
.add-tesista-container select {
    margin-top: 5px;
}

.add-tesista-container button {
    margin-top: 15px;
    background: #28a745;
}

.add-tesista-container button:hover {
    background: #218838;
}